@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
::-webkit-scrollbar {
  width: 0.5px;
}

.reveal {
  visibility: hidden;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

.card-main {
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-top: 5%;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.card-main .menu {
  z-index: 10;
  width: 80%;
  position: fixed;
  top: 0;
  left: 13%;
  height: 30px;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  display: flex;
  scroll-behavior: smooth;
}
.card-main .menu .logo {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #4B56D2;
}
.card-main .menu ul {
  display: flex;
}
.card-main .menu ul li {
  margin: 0 10px;
}
.card-main .menu ul li a {
  text-decoration: none;
  color: #4B56D2;
}
.card-main .menu .open-menu {
  display: none;
}
.card-main section {
  width: 80%;
  height: 80vh;
  margin: 10% auto;
}
.card-main .home {
  margin: 0.5% auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}
.card-main .home .self-informations {
  display: flex;
}
.card-main .home .self-informations .icons-social {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;
}
.card-main .home .self-informations .icons-social i {
  margin: 5px 0;
}
.card-main .home .self-informations h1 {
  margin-bottom: 5%;
  font-size: 60px;
}
.card-main .home .self-informations span {
  color: #6D67E4;
}
.card-main .home .self-informations p {
  margin-bottom: 10%;
  color: black;
}
.card-main .home .self-informations button {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  color: white;
  background-color: #4B56D2;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
}
.card-main .home .self-informations button:hover {
  background-color: transparent;
  border: #4B56D2 1px solid;
  color: #4B56D2;
}
.card-main .home .self-image {
  width: 300px;
  height: auto;
  background-image: url(../ASSETS/IMG/back-image.svg);
  background-size: cover;
  box-sizing: content-box;
}
.card-main .scroll-down {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 3% 0;
}
.card-main .scroll-down a {
  text-decoration: none;
  color: #4B56D2;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .title-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5% 0;
}
.about .title-section h1 {
  font-size: 30px;
  color: #4B56D2;
  font-weight: 600;
}
.about .about-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .about-me .image-me {
  background-image: url(../ASSETS/IMG/self-image.jpg);
  z-index: 1;
  background-size: cover;
  width: 20vw;
  height: 45vh;
  border-radius: 10px;
}
.about .about-me .informations-me {
  width: 40%;
}
.about .about-me .informations-me .cards {
  display: flex;
}
.about .about-me .informations-me .cards .card {
  margin: 0 0.5%;
  padding: 25px;
  border-radius: 5px;
  background-color: darkgray;
}
.about .about-me .informations-me .infornations-cv button {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  color: #4B56D2;
  background-color: transparent;
  border: 2px solid #4B56D2;
  padding: 10px;
  border-radius: 5px;
  margin: 5% 0;
  transition: 0.5s;
}
.about .about-me .informations-me .infornations-cv button a {
  text-decoration: none;
}
.about .about-me .informations-me .infornations-cv button:hover {
  background-color: #4B56D2;
  color: white;
}
.about .about-me .informations-me .infornations-cv button:hover a {
  color: white;
}

.skills {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.skills .title-skills {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #4B56D2;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5%;
}
.skills .dev-skills {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.skills .dev-skills .front, .skills .dev-skills .back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.skills .dev-skills .back {
  justify-content: flex-start;
}
.skills .dev-skills .initial-title {
  color: #4B56D2;
  font-size: 20px;
  font-weight: 600;
}
.skills .dev-skills .front-end-container, .skills .dev-skills .back-end-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  padding: 5%;
  border-radius: 10px;
}
.skills .dev-skills .front-end-container .item, .skills .dev-skills .back-end-container .item {
  display: flex;
}
.skills .dev-skills .front-end-container .item .title, .skills .dev-skills .back-end-container .item .title {
  font-weight: 500;
  font-size: 20px;
}
.skills .dev-skills .front-end-container .item .subtitle, .skills .dev-skills .back-end-container .item .subtitle {
  font: 2em;
  color: rgba(134, 134, 134, 0.822);
}

.works {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.works .title-works {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  color: #4B56D2;
}
.works .card-works {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70%;
  align-content: center;
  flex-wrap: wrap-reverse;
}
.works .card-works .card {
  width: 30%;
  height: 50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-sizing: border-box;
  background: url(../ASSETS/IMG/—Pngtree—blue\ background_919872.jpg);
  background-size: cover;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
}
.works .card-works .card h1 {
  font-weight: 700;
  text-shadow: black 1px 0 10px;
}
.works .card-works .card-1 {
  background: url(../ASSETS/IMG/active-states.jpg) center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.works .card-works .card-1 .acess {
  margin-bottom: 10px;
}
.works .card-works .card-1 .acess button {
  padding: 5px;
  width: 100px;
  outline: none;
  border: #4B56D2 1px solid;
  background-color: white;
  transition: ease-in-out 0.3s;
}
.works .card-works .card-1 .acess button a {
  text-decoration: none;
  color: #4B56D2;
  font-weight: 600;
}
.works .card-works .card-1 .acess button:hover {
  box-shadow: inset 100px 0 0 0 #4B56D2;
}
.works .card-works .card-1 .acess button:hover a {
  color: white;
}
.works .card-works .card-2 {
  background: url(../ASSETS/IMG/multi-step.jpg);
  background-size: cover;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.contact .title-contact {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5%;
  color: #4B56D2;
}
.contact .contat-me {
  display: flex;
  justify-content: space-between;
}
.contact .contat-me .contact-icons {
  margin: 0 5% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact .contat-me .contact-icons .whats, .contact .contat-me .contact-icons .linked {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.contact .contat-me .email {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  max-height: 300px;
  border-radius: 10px;
}
.contact .contat-me .email input {
  outline: none;
  border-radius: 5px;
  border: 1px #4B56D2 solid;
  margin: 5px 0;
  padding: 5px;
}
.contact .contat-me .email input [type=text] {
  height: 100%;
}
.contact .contat-me .email .menssage {
  height: 100px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
}
.contact .contat-me .email button {
  background-color: #4B56D2;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #4B56D2;
  color: white;
}
.footer h1 {
  margin: 0 0 10px 0;
}
.footer .div {
  display: flex;
}
.footer .div a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

@media (max-width: 1260px) {
  .card-main .about .about-me .image-me {
    height: 40vh;
  }
}
@media (max-width: 1055px) {
  .card-main .about .about-me .image-me {
    height: 35vh;
  }
}
@media (max-width: 846px) {
  .card-main .home .self-informations h1 {
    font-size: 50px;
  }
  .card-main .about .about-me .image-me {
    height: 30vh;
  }
}
@media (max-width: 740px) {
  .card-main .home .self-informations h1 {
    font-size: 40px;
  }
  .card-main .home .self-image {
    width: 200px;
  }
  .card-main .about .about-me .image-me {
    height: 25vh;
  }
}
@media (max-width: 670px) {
  .card-main .menu .nav {
    display: block;
    position: fixed;
    right: 0;
    width: 0px;
    height: 0px;
    transition: 0.5s;
    height: 100vh;
    background-color: transparent;
  }
  .card-main .menu .nav.active {
    z-index: 10000;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 70vw;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px 0 0 10px;
  }
  .card-main .menu .nav.active li {
    margin: 10% 5%;
  }
  .card-main .menu .nav.active li a {
    font-size: 20px;
    color: #4B56D2;
    text-decoration: none;
  }
  .card-main .menu .open-menu {
    display: block;
    cursor: pointer;
    z-index: 10000;
  }
  .card-main .menu .menu-hamburger {
    position: fixed;
    display: none;
    height: 100vh;
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .card-main .home {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .card-main .home .icons-social {
    position: relative;
    left: 0;
  }
  .card-main .home .self-informations h1 {
    font-size: 30px;
  }
  .card-main .home .self-image {
    width: 200px;
  }
  .about .about-me .image-me {
    height: 20vh;
  }
  .skills .dev-skills {
    flex-direction: column;
    align-items: center;
  }
  .skills .dev-skills .front, .skills .dev-skills .back {
    margin: 5% 0;
  }
}
@media (max-width: 618px) {
  .card-main .about .about-me {
    flex-direction: column;
    justify-content: space-around;
  }
  .card-main .about .about-me .image-me {
    height: 25vh;
    width: 28vw;
    margin-bottom: 5%;
  }
  .card-main .about .about-me .informations-me {
    width: 100%;
  }
  .card-main .about .about-me .informations-me .informations-cv p {
    width: 100%;
  }
  .card-main .contact .contat-me {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */